

/*!*=========================*/
  /*Icons*/
 /*================= *!*/

/*!* footer social icons *!*/
/*ul.social-network {*/
    /*list-style: none;*/
    /*display: inline;*/
    /*margin-left:0 !important;*/
    /*padding: 0;*/
/*}*/
/*ul.social-network li {*/
    /*display: inline;*/
    /*margin: 0 5px;*/
/*}*/


/*!* footer social icons *!*/
/*.social-network a.icoRss:hover {*/
    /*background-color: #F56505;*/
/*}*/
/*.social-network a.icoFacebook:hover {*/
    /*background-color:#3B5998;*/
/*}*/
/*.social-network a.icoTwitter:hover {*/
    /*background-color:#33ccff;*/
/*}*/
/*.social-network a.icoGoogle:hover {*/
    /*background-color:#BD3518;*/
/*}*/
/*.social-network a.icoVimeo:hover {*/
    /*background-color:#0590B8;*/
/*}*/
/*.social-network a.icoLinkedin:hover {*/
    /*background-color:#007bb7;*/
/*}*/
/*.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,*/
/*.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {*/
    /*color:#fff;*/
/*}*/
/*a.socialIcon:hover, .socialHoverClass {*/
    /*color:#44BCDD;*/
/*}*/

/*.social-circle li a {*/
    /*display:inline-block;*/
    /*position:relative;*/
    /*margin:0 auto 0 auto;*/
    /*-moz-border-radius:50%;*/
    /*-webkit-border-radius:50%;*/
    /*border-radius:50%;*/
    /*text-align:center;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*font-size:20px;*/
/*}*/
/*.social-circle li i {*/
    /*margin:0;*/
    /*line-height:50px;*/
    /*text-align: center;*/
/*}*/

/*.social-circle li a:hover i, .triggeredHover {*/
    /*-moz-transform: rotate(360deg);*/
    /*-webkit-transform: rotate(360deg);*/
    /*-ms--transform: rotate(360deg);*/
    /*transform: rotate(360deg);*/
    /*-webkit-transition: all 0.2s;*/
    /*-moz-transition: all 0.2s;*/
    /*-o-transition: all 0.2s;*/
    /*-ms-transition: all 0.2s;*/
    /*transition: all 0.2s;*/
/*}*/
/*.social-circle i {*/
    /*color: #fff;*/
    /*-webkit-transition: all 0.8s;*/
    /*-moz-transition: all 0.8s;*/
    /*-o-transition: all 0.8s;*/
    /*-ms-transition: all 0.8s;*/
    /*transition: all 0.8s;*/
/*}*/

/*a {*/
    /*background-color: #D3D3D3;*/
/*}*/
body{
    height: auto;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-area {
    background: #f2f2f1;

}
.about-img {
    margin-right: 45px;
}
.about-title {
    padding-top: 50px;
}

.skillbar h1 {
    font-size: 30px;
    text-transform: uppercase;
}

a.skill-btn {
    border: 2px solid #2ecc71;
    border-radius: 0;
    text-transform: uppercase;
    padding: 14px 40px 10px;
    font-weight: 700;
    color: #2ecc71;
    margin-top: 25px;
    transition: 0.3s
}

a.skill-btn:hover {
    background: #2ecc71;
    color: #fff;
}

.skill-progress .progress {
    height: 30px;
    border-radius: 0;
    margin-bottom: 30px;
}

.skill-progress .progress p {
    margin: 0;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    color: #fff;
}

.skill-progress .progress-bar {
    background-color: #2ecc71;
}

.skill-progress p {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #566366;
    font-weight: 700;
    font-size: 22px;
}

.skill-progress {
    padding-top: 50px;
}

.skill-area {
    padding: 80px 0;
}

/*Resume*/

.resume-area h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.single-about-box i.fa {
    font-size: 35px;
    float: left;
    color: #2ecc71;
}

.single-about-box {
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 50px;
}

.single-about-box h2,
.single-about-box p {
    padding-left: 50px;
}

.single-about-box h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.carousel-caption {background:rgba(0, 0, 0, 0.7) }

.footer-area {
    background: #191f21;
    padding: 60px 0;
}
.footer-social-links a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #4b5456;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
}

.footer-social-links a i {
    color: #000;
    transition: 0.3s;
}

.footer-social-links a:hover i {
    color: #fff;
}

/*Resume*/

.resume-area h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cmn-btn {
    display: inline-block;
    /*border: 2px solid;*/
    /*border-radius: 0;*/
    padding: 14px 30px 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.cmn-btn.resume-btn {
    color: #2ecc71;
    border-color: #2ecc71;
    margin-top: 30px;
    transition: 0.3s
}

.resume-btn:hover {
    background: #2ecc71;
    color: #fff;
}

.resume-area {
    background: #f2f2f1;
    padding: 80px 0;
    position: relative;
    z-index: 2;
}

/*.resume-area:after {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: -50px;*/
    /*content: "";*/
    /*!*border-width: 25px;*!*/
    /*!*border-color: #f2f2f1 transparent transparent transparent;*!*/
    /*!*z-index: 3;*!*/
    /*!*border-style: solid;*!*/
    /*!*transform: translateX(-50%);*!*/
/*}*/

.resume-education {
    padding: 10px 0;
}

.edu h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.edu-detail-box {
    padding-top: 50px;
}

.single-edu h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.edu-date span {
    font-weight: 600;
}

.edu-date {
    font-size: 16px;
    margin-bottom: 5px;
}


p.edu-summury {
    /*border-top: 1px solid #ddd;*/
    padding-top: 20px;
}

.single-edu {
    margin-bottom: 10px;
}

.bottom-border {
    /*border-bottom: 1px solid #ddd;*/
}

.resume-education.work-exp {
    padding: 0 0;
}





/*-- contact --*/
.address h3.w3l-title:after {
    left: 41.45%;
}
.address-grid {
    background-color: #fff;
    padding: 3em 4em;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
}
.address-info {
    background-color: #fff;
    padding: 2.5em 4em;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.75);
}
.address-info.address-mdl {
    margin: 2em 0;
}
.address h4 {
    font-size: 2.5em;
    color:#0b98ea;
    margin-bottom: 0.8em;
}
.address-info h4 {
    margin-bottom: .4em;
}
.address input[type="text"], .address input[type="email"] {
    width: 100%;
    color: #000;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 1px #000;
    -webkit-appearance: none;
}
.address textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #000;
    font-size: .9em;
    outline: none;
    padding: .6em 1em;
    border: none;
    border-bottom: solid 1px #000;
    min-height: 13.5em;
    -webkit-appearance: none;
}
.address input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .8em 3.5em;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #f5810b;
    border: solid 1px #f5810b;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.address input[type="submit"]:hover{
    background: none;
    color: #800000;
}
.address p {
    color: #000;
    margin: 0;
    font-size: 1.1em;
}
.address p a{
    color: #000;
    -webkit-transition:.5s all;
    transition:.5s all;
    -moz-transition:.5s all;
}
.address p a:hover{
    color: #800000;
}

h3.w3l-title:after {
    left: 39.8%;
    width: 6%;
}
h3.w3l-title:before {
    width: 11%;
}
/*-- //contact --*/


/*.fa {*/
    /*padding: 20px;*/
    /*!*font-size: 30px;*!*/
    /*!*width: 50px;*!*/
    /*!*text-align: center;*!*/
    /*!*text-decoration: none;*!*/
    /*display:inline-block;*/
    /*position:relative;*/
    /*margin:0 auto 0 auto;*/
    /*-moz-border-radius:50%;*/
    /*-webkit-border-radius:50%;*/
    /*border-radius:50%;*/
    /*text-align:center;*/
    /*width: 5%;*/
    /*height: 5%;*/
    /*font-size:25px;*/
/*}*/
/*.fa a {*/
        /*color:green;*/
        /*}*/
/*!* Add a hover effect if you want *!*/
/*.fa:hover {*/
    /*!*opacity: 0.7;*!*/
    /*-moz-transform: rotate(360deg);*/
    /*-webkit-transform: rotate(360deg);*/
    /*-ms--transform: rotate(360deg);*/
    /*transform: rotate(360deg);*/
    /*-webkit-transition: all 0.2s;*/
    /*-moz-transition: all 0.2s;*/
    /*-o-transition: all 0.2s;*/
    /*-ms-transition: all 0.2s;*/
    /*transition: all 0.2s;*/
/*}*/

/*!* Set a specific color for each brand *!*/

/*!* Facebook *!*/
/*.fa-facebook {*/
    /*!*background: #3B5998;*!*/
    /*background: #D3D3D3;*/

    /*color: blue;*/

/*}*/

/*!* Twitter *!*/
/*.fa-twitter {*/
    /*background: #D3D3D3;*/
    /*color: blue;*/
/*}*/
/*.fa-linkedin {*/
    /*background: #D3D3D3;*/
    /*color: blue;*/
/*}*/

/*.fa-skype {*/
    /*background: #D3D3D3;*/
    /*color: blue;*/
/*}*/
/*.fa-youtube {*/
    /*background: #D3D3D3;*/
    /*color: blue;*/
/*}*/